* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* header style */

header {
   height: 10vh;
}

h1 {
   font-size: 3rem;
}

input {
   background-color: lemonchiffon;
   padding: 10px;
   border-radius: 10px;
}

/* game box style */

.game-div {
   height: 80vh;
}

#box {
   width: 70%;
   padding: 30px 0px;
}

.square {
   width: 100px;
   height: 100px;
   border: 1px solid black;
}


/* footer style */

footer {
   height: 10vh;
}

span {
   font-size: 2rem;
}